* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: blue;
}
/* nav */
.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0.8rem 0.3rem;
}
#nav-link {
  margin: 0.4rem;
}

.googleapps {
  border: none;
  padding: 0;
  margin: 0;
  width: 2rem;
  height: 2rem;
  background: white;
  margin-left: 0.2rem;
}
.googleapps:hover {
  opacity: 70%;
}

#user {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  padding: 0;
  margin: 0.4rem;
}
#user:hover {
  opacity: 85%;
}
/* MAIN */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
}
#logo {
  display: block;
  /* margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 100px;
  margin: 100px 25% 10px 25%;
   */
  width: 50%;
}

.search-bar {
  margin: 10px auto;
  width: 80%;
  border-radius: 30px;
  height: 30px;
  border: solid gray 1px;
  display: flex;
  align-items: center;
}
.search-bar:hover {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

#searchicon {
  margin-left: 8px;
  color: rgba(0, 0, 0, 0.754);
}
#searchform {
  width: 80%;
  height: 100%;
  align-items: center;
  margin: 0 auto;
  border: none;
}

#mic {
  margin-right: 8px;
}

.boxes {
  display: flex;
  align-items: center;
  margin: 1.5rem auto;
  padding: 0;
  justify-content: center;
  font-size:1.2rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.box {
  margin: 0rem 1rem;
  border: transparent 0.5px;
  display: flex;
  padding: 0.5rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.076);
  border-radius: 4%;
}
.container {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(128, 128, 128, 0.385);
  display: flex;
  justify-content: space-between;
  align-items:center;
}
.footer {
  list-style: none;
  display: flex;
  /* margin: 0.5rem 0.5rem; */
}
.footerleft {
  /* position: absolute; */
  /* left: 0; */
  
}

.footer-left {
  margin: 0.5rem;
}

.footerright {
  /* position: absolute; */
  /* right: 0; */
}

.footer-right {

  margin: 0.5rem;
}

@media (max-width: 660px) {
  .container {

    flex-direction: column;
  }