* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  display: inline;
  background: gray;
}

li {
  float: right;
  margin: 10px;
  background: gray;
}

img {
  display: block;
  /* margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 100px; */
  margin: 100px 25% 10px 25%;
  width: 50%;
}

.search-bar {
  margin: 10px auto;
  width: 50%;
}

#searchform {
  width: 90%;
  float: left;
  border: 2px solid gray;
}

#submit {
  display: inline;
  width: 10%;
  float: right;
  margin: 0;
  color: white;
  background: #2196f3;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: none;
}
